bin/**
tmp/**
*.suo
xcuserdata
.DS_Store
/.klocwork
/ipch
*.user
*.dylib
*.dll
*.sys
vs/*
.vs/*
runtime/VMProtect.Runtime/.vs/*
runtime/VMProtect.Runtime/obj/*
runtime/VMProtect.Runtime/bin/*
runtime/VMProtect.Runtime/Tests/UnitTestProject/.vs/*
runtime/VMProtect.Runtime/Tests/UnitTestProject/obj/*
runtime/VMProtect.Runtime/Tests/UnitTestProject/bin/*
sdk/VMProtect.SDK/.vs/*
sdk/VMProtect.SDK/obj/*
sdk/VMProtect.SDK/bin/*
utils/ipn_tool/.vs/*
utils/ipn_tool/obj/*
utils/ipn_tool/bin/*
VMProtect/resources.cc
*.tmp